<div class="container-fluid ">
    <div class="card">
        <div class="card-body bg-white p-1 m-1">
            <div class="jumbotron text-center">
                <h1 class="display-3">Thank You! @ViewData["name"]</h1>
                <p class="lead"><strong>Payment Successful</strong> for this transaction. A receipt for this purchase has been sent to your email.</p>
                You have been successfully charged for this transaction.

                <hr>
                <p>
                    <img src="~/images/tickicon.png" style="width: 50vh "/>
                </p>

                <p>
                    Having trouble? <a href="">Contact us</a>
                </p>
                <p class="lead">
                    <a class="btn btn-primary btn-sm" href="../" role="button">Continue to homepage</a>
                </p>
            </div>
        </div>
    </div>
</div>