<div class="container-fluid ">
    <div class="card">
        <div class="card-body bg-white p-1 m-1 mt-0">
            <div class="jumbotron bg-white text-center mt-0 pt-0">
                <p>
                    @Html.Raw(ViewData["orderHtml"])
                </p>
            </div>
        </div>
    </div>
</div>