<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - @ViewBag.Title Workshop</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
</head>
<body id="page-top bg-light"  style='-webkit-font-smoothing: subpixel-antialiased;-webkit-font-smoothing: antialiased;' class="sidebar-toggled" >
    <nav class="navbar navbar-expand navbar-dark  static-top" style="background-color: #0f94b2  !important;box-shadow: 0 5px 5px rgba(0,0,0,0.15);">

        @{
            var sessionName = new Byte[20];
            var sessionType = new Byte[20];
            string userName = "Guest";
            string userType = "";
            bool sessionCond = Context.Session.TryGetValue("userName", out sessionName);
            Context.Session.TryGetValue("userType", out sessionType);

            if (sessionCond && sessionName.Length >= 1)
            {
                userName = System.Text.Encoding.UTF8.GetString(sessionName);
                userType = System.Text.Encoding.UTF8.GetString(sessionType);
            }
            else
            {
                sessionCond = false;
            }
        }

        <a href="~/Dashboard/Index" class="btn btn-link btn-sm text-white order-1 order-sm-0" style="padding-left:3%">
            Workshop list
        </a>
        @{
            if (sessionCond)
            {


                <a href="~/Dashboard/MyProfile" class="btn btn-outline-warning text-white order-1 order-sm-0 ml-2" >
                    My Profile
                </a>
                <a href="~/CartManager/OrderPreview" class="btn btn-outline-warning text-white order-1 order-sm-0 ml-2" >
                    My Basket
                </a>
                <a href="~/CartManager/MyOrders" class="btn btn-outline-warning text-white order-1 order-sm-0 ml-2" >
                    My Orders
                </a>

                if (userType.Equals("Teacher"))
                {

                    <a href="~/CartManager/MyWorkshops" class="btn btn-outline-warning text-white order-1 order-sm-0 ml-2" >
                        My Workshops
                    </a>
                    <a href="~/CartManager/MyBookings" class="btn btn-outline-warning text-white order-1 order-sm-0 ml-2">
                        Received Bookings 
                    </a>

                }
                <a href="~/user/logout" class="btn btn-outline-warning text-white order-1 order-sm-0 ml-2" >
                    Logout
                </a>
            }
            else
            {
                <a href="~/user/login" class="btn btn-link btn-sm text-white order-1 order-sm-0" style="padding-left:3%">
                    Login
                </a>
                <a href="~/user/signup" class="btn btn-link btn-sm text-white order-1 order-sm-0" style="padding-left:3%">
                    Signup
                </a>
            }
        }


        <button class="btn btn-link btn-sm text-white order-1 order-sm-0 ordertotal" style="padding-left:3%">
        </button>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0 ordercount" style="padding-left:3%">
        </button>
        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></form>
        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">

            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>  @userName
                </a>
            </li>
        </ul>
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        
        <div id="content-wrapper">
            @RenderBody()
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/js/sb-admin.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
